KAFKA_VERSION=4.2.0
KAFKA_HOST=kafka
KAFKA_HOST_PORT=9092
KAFKA_INTERNAL_PORT=19092
KAFKA_CONTROLLER_PORT=9093
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=orders_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/orders_db
GEN_RATE=2
REDIS_URL=redis://redis:6379